body {
  background-color: #e2cfa5;
}

.header {
   position: relative;
}

.header img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 97px;
  margin-right: 75px;
}

#instgram {
  width: 284px;
  height: 234px;
}

#github {
  width: 322px;
  height: 176px;
}

#wordpress {
  width: 202px;
  height: 183px;
}

#soundcloud {
  
}
