body {
  background-color: #e2cfa5;
}

.header {
  text-align: center;
}

.header img {
  display: inline-block;
 
}

.href {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#instgram {
  width: 284px;
  height: 234px;
}

#github {
  width: 322px;
  height: 176px;
  right: 60px;
}

#wordpress {
  
}

#soundcloud {
  
}

footer {
  height: 90px;
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: #cdb380;
}

footer p {
  font-family: Century Gothic, sans-serif;
  color: #036564;
  margin: 0 auto;
}


