body {
  background-color: #e2cfa5;
}

.header {
  position: absolute;
  height: 200px;
  width: 400px;
  margin: -100px 0 0 -200px;
  top: 50%;
  left: 50%;
}

.header img {
  position: relative;
}

#instagram {
  
}

#github {
  
}

#wordpress {
  
}

#soundcloud {
  
}
